body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.top-banner {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;

}

.top-area p {
    color: white;
    font-size: 20px;
    text-align: center;

}

.link-btn {
    text-decoration: none;
    color: white;
    background-color: #B2BB1E;
    padding: 15px 40px;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 570px;


}

.green {
    color: #cad403;
}

.top-area h1 {
    margin-top: 0;
    text-align: center;
    color: white;
    padding-top: 130px;
    font-size: 50px;

}

/**************** top area style done***********/

.donation-main-area {
    margin-bottom: 50px;
}

.heading-top-area p {
    color: black;
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
}

.heading-top-area h1 {
    margin-top: 0;
    text-align: center;
    color: black;
    padding-top: 100px;
    font-size: 50px;
}

.main-money-area {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.money {
    padding: 15px 25px;
    font-size: 20px;
    background-color: #b3bb1e14;
    margin: 0 10px;
    border-radius: 5px;
}

#highlight {
    background-color: #b3bb1e50;
    border: 2px solid #B2BB1E;
}

input {
    outline: none;
    border: none;

}

::placeholder {
    color: grey;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;


}

.input {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    width: 60%;
    text-align: center;
    margin-left: 265px;

}

.btn-top {
    margin-top: 40px;
}

/*******Donation area style done  *******/

.card-area {
    display: flex;
    margin-bottom: 100px;
}

.card {
    width: 30%;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 2px 6px 6px gray;
    text-align: justify;
    margin-left: 36px;
    margin-right: 29px;
}

.card-area img {
    padding-top: 16px;
    height: 50px;
    width: 60px;
}
#gold{
    background-color: #f1e5ac8f;
}
#sky{
    background-color: #87cefa79;
}
#orange{
    background-color: #FCC6AA;
}